/* page*/

* {
    font-family: 'Poppins', sans-serif;
}

.page-container {
    padding: 80px;
}

/* navbar */

.navbar-light .navbar-toggler {
    border: none;
}

.nav-item {
    margin-right: 30px;
}

.logo {
    margin-left: 30px;
}

.donate-button-lg {
    background-color: rgb(255, 209, 56);
    color: #0F1E33;
    border-radius: 25px;
    padding: 5px 25px;
    border: none;
}

.donate-button-lg:hover {
    opacity: .75;
}

.donate-sm {
    display: none;
}

/* text */

.title {
    font-size: 25px;
    font-weight: 600;
    color: #19427D;
}

.title:after {
    border-radius: 5px;
}

p {
    font-size: 16px;
}

.more {
    color: #0F1E33;
    font-weight: 600;
}

.more:hover {
    opacity: .75;
}

/* spacing */ 

.spacing {
    margin-bottom: 100px;
}

.spacing-sm {
    margin-bottom: 40px;
}

/* social */ 

.social {
    margin-right: 20px;
}

.social:hover {
    opacity: .75;
}

#social {
    text-align: right;
}

/* contact */ 

.contact-ico {
    margin-right: 15px;
}

.contact-br {
    display: none;
}

.contact-text {
    font-size: 15px;
    font-weight: 600;
    color: #0F1E33;
    margin-bottom: 20px;
}

.contact-text:hover {
    opacity: .75;
}

.register-button {
    background-color: #0F1E33;
    color: white;
    border-radius: 25px;
    padding: 5px 25px;
    border: none;
}

.register-button:hover {
   opacity: .75;
}

.register-sm {
    display: none;
}

/* image */

#img {
    border-radius: 7px;
}


/* RESPONSIVE */

@media only screen and (max-width: 991px) {
   
    /* page */

    .page-container {
        padding: 40px;
    }

    
    /* text */

    .title {
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    p {
        text-align: center;
    }


    /* navbar */

    .nav-item {
        margin-left: 5px;
        margin-bottom: 10px;
    }

    .logo {
        margin-left: 5px;
    }

    .donate-lg {
        display: none;
    }

    .donate-sm {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
    }

    .donate-button-sm {
        text-align: center;
        width: 100%;
        background-color: rgb(255, 209, 56);
        color: #0F1E33;
        border-radius: 25px;
        padding: 5px 25px;
        border: none;
        text-decoration: none;
    }

    /* social  */

    #fb {
        margin-right: 0px;
    }

    /* spacing */ 

    .spacing {
        margin-bottom: 70px;
    }

    .spacing-sm {
        margin-bottom: 30px;
    }

    /* contact */

    .col-md-4 {
        text-align: center;
        margin-bottom: 25px;
    }

    .contact-text {
        font-size: 15px;
        font-weight: 400;
        color: #0F1E33;
        margin-bottom: 20px;
    }

    #social {
        text-align: center;
    }

    .contact-br {
        display: block;
    }

    .contact-ico {
        margin-right: 0px;
    }

    .register-lg {
        display: none;
    }

    .register-sm {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
    }

 
}

